<footer class="page__footer">
	<div class="page__footer--icons">
		<a href="https://twitter.com/DeveloperAna" title=Twitter" target="_blank">
			<i class="fab fa-twitter icons"></i>
		</a>
		<a href="https://www.linkedin.com/in/ana-l%C3%B3pez-3621911ab/" title="Linkedin" target="_blank">
			<i class="fab fa-linkedin-in icons"></i>
		</a>
		<a href="https://github.com/Analo-pez" title="GitHub" target="_blank">
			<i class="fab fa-github-alt icons"></i>
		</a>
		<a href="mailto:ana.ts.lopez@gmail.com" title="Correo" target="_blank">
			<i class="fas fa-envelope icons"></i>
		</a>
	</div>
</footer>