<main class="page__main">
	<section class="sectionLeft">
		<h1 class="sectionLeft__title">Sobre mi</h1>
		<p class="sectionLeft__text">Me defino como una aprendiz de la vida,
			creciendo con cada experiencia transitada.</p>
		<p class="sectionLeft__text">Estudié Trabajo Social y me gustan los
			proyectos que implementan grandes equipos
			humanos donde compartir conocimientos y
			diversidad.</p>
		<p class="sectionLeft__text">Defiendo que los resultados son mejores
			cuantas más perspectivas contemplan
			porque "muchos pocos hacen un mucho".</p>
		<p class="sectionLeft__text">Como Desarrolladora Front-End puedo
			seguir creando, compartiendo y explotando
			mi creatividad al máximo.</p>
		<p class="sectionLeft__text">
			¡Quiero aportar lo mejor de mí y recalcular
			mis límites!</p>
	</section>
	<section class="sectionRight">
		<h2 class="sectionRight__title">Proyectos</h2>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		</article>
	</section>
</main>