<main class="page__main">
	<section class="sectionLeft">
		<h1 class="sectionLeft__title">Sobre mi</h1>
	</section>
	<section class="sectionRight">
		<h2 class="sectionRight__title">Proyectos</h2>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/zapas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto renderizado con REACT</p>
			</div>
		</article>
	</section>
</main>