<main class="page__main">
	<section class="sectionLeft slide-in-bottom">
		<h1 class="sectionLeft__title">Sobre mi</h1>
		<p class="sectionLeft__text">Me defino como una aprendiz de la vida,
			creciendo con cada experiencia transitada.</p>
		<p class="sectionLeft__text">He comenzado mi andadura en el mundo de la programación y mi aspiración es trabajar
			en proyectos que implementan grandes equipos
			humanos, donde compartir conocimientos y
			diversidad.</p>
		<p class="sectionLeft__text">Defiendo que los resultados son mejores
			cuantas más perspectivas contemplan
			porque "muchos pocos hacen un mucho".</p>
		<p class="sectionLeft__text">Como Desarrolladora Front-End puedo
			seguir creando, compartiendo y explotando
			mi creatividad al máximo.</p>
		<p class="sectionLeft__text">
			¡Quiero aportar lo mejor de mí y recalcular
			mis límites!</p>
	</section>
	<section class="sectionRight">
		<h2 class="sectionRight__title">Proyectos</h2>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/ateam.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Web grupal</h3>
				<p class="sectionRight__article--text">Web de presentación para dar a conocer el perfil profesional.
					Realizado con HTML5, CSS3, SASS. </p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/futuramas.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">FuturAmas del Code</h3>
				<p class="sectionRight__article--text">Web para diseño de profile cards personalizadas. Diseñado con
					JavaScript, HTML5, CSS3, SASS
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/quoteGenerator.png"
					alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Quotes Generator</h3>
				<p class="sectionRight__article--text">Generador de frases del día, con contenido propio. Desarrollado
					con JavaScript, HTML5, CSS3, SASS</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/Botánical.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Tarjetas de presentación</h3>
				<p class="sectionRight__article--text">Proyecto heredado renderizado con REACT</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/seryes.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">Ser¡Yes! </h3>
				<p class="sectionRight__article--text">Buscador de series realizado utilizando API´s públicas y
					desarrollado
					con JavaScript, HTML5, CSS3, SASS</p>
			</div>
		</article>
		<article class="sectionRight__article">
			<a class="sectionRight__article--link" href="" title="" target="_blank">
				<img class="sectionRight__article--img" src="./assets/images/pokecards.png" alt="Landing del proyecto">
			</a>
			<div class="sectionRight__article--box">
				<h3 class="sectionRight__article--title">PokeCards </h3>
				<p class="sectionRight__article--text">Web app realizada utilando API´s públicas y desarrollada
					con REACT</p>
			</div>
		</article>
		</article>
	</section>
</main>