// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-light: #f3f4f5;
$color-secondary: #999;
$color-dark: black;
$color-principal: #638a66;
$color-mediumprincipal: #a2bda2;
$color-lightprincipal: #c0e1d9;
$color-cream: #f0ebd6;
$color-creammedium: #f1cbb5;
$color-creamdark: #d2977c;
