.form {
        display: flex;
        flex-direction: column;
        align-items: center ;
        @media all and (min-width: 768px) {
            font-size: 20px;
            padding-left: 30%;
            padding-right: 30%;
          }
  
    &__name {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }

    &__img {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
  
    &__email {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
  
    &__phone {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
}
  
    input {
      padding-left: 5px;
      height: 30px;
      margin-top: 7px;
    }
    ::placeholder {
      opacity: 40%;
    }
  
    fieldset {
      border: transparent;
    }
  
  