.form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        @media all and (min-width: 768px) {
            font-size: 20px;
            width: 500px;
          }
  
    &__name {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }

    &__img {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
  
      &--box {
        margin-top: 10px;
        display: flex;
  
        &--button {
          width: 140px;
          height: 30px;
          text-align: center;
          padding-top: 5px;
          color: white;
          border-radius: 5px;
          border-style: none;
          background-color: black;
          cursor: pointer;
        }
        }
    }
  
    &__email {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
  
    &__phone {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
}
  
    // input {
    //   padding-left: 5px;
    //   border: 0.5px solid $color-principal;
    //   height: 30px;
    //   margin-top: 7px;
    // }
    // ::placeholder {
    //   color: $color-principal;
    // }
  
    fieldset {
      border: transparent;
    }
  
  