.body__landing {
	
}
.page {
	background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
.start-button {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border-style: none;
	&:hover{
		cursor: pointer;
		background-color:$color-dark;
		color: white;
		font-size: 25px;
		text-transform: uppercase;
		border-color: transparent;
	}
}