.body__landing {
	
}
.page {
	background-color: $color-principal;
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
.start-button {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border-style: none;
	&:hover{
		cursor: pointer;
		background-color:$color-creamdark;
		color: white;
		font-size: 25px;
		text-transform: uppercase;
		border-color: transparent;
	}
}