.page__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
  background-color: $color-lightprincipal;
  &--icons{
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
    color: $color-principal;
    @media all and (min-width: 768px) {
      font-size: 20px;
      padding-right: 25%;
    }
    @media all and (min-width: 1200px) {
      font-size: 30px;
    } 
  }
}
