.page__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
  background-color: $color-lightprincipal;
  &--icons{
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
 
    color: $color-principal;
      .fab,
      .fas {
        display: inline-block;
        transition: color ease 0.5s;
      }

      .fab:hover, .fas:hover {
        color: black;
      }

      .fab:after {
        content: "·";
        margin: 8px;
        font-weight: bold;
      }
  }
}
