.page__header {
	display: block;
	justify-content: space-evenly;
	background-color: $color-lightprincipal;
  width: 100vw;
  height: 25vh;
}
.menu {
	color: white;
	@media all and (min-width: 768px) {
		padding-right: 80px;
	}
	@media all and (min-width: 1200px) {
		padding-right: 200px;
	}

	&__list {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		padding: 15px;

		&--item {
			margin-right: 20px;
		}
	}
}
