.page__header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: $color-lightprincipal;
	  &--profile{
		  display:flex;
		  align-self: center;
		  justify-self: center;
		  padding: 10px;
	  }
	
}
.menu {
	color: $color-principal;
	display: flex;
	justify-content: center;
}
