.hidden {
	display: none;
}

.mainPage {
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__drinks {
		margin-bottom: 30px;
		&--type {
			display:flex;
			justify-content: space-between;
			margin: 10px;
		}
	}
	&__share {
		margin-bottom: 30px;
		&--type {
			display:flex;
			justify-content: space-between;
			margin: 10px;
		}
	}
}


.form-group{
display: flex;
flex-direction: column;
width: 380px;
}

.form-control {
	width: 50px;
}

.buttonBox{
	display:flex;
	justify-content: flex-end;
	margin-top: 30px;	
}
.btn {
	padding: 5px;
	border: 5px solid $color-principal;
}